@import "_reset.scss";

html{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}
body{
  width: 100%;
  height: 100%;
  background-color: #a8cce6;
  font-family: PingFangSC-Regular;
  font-size: 14px;
}
#app {
  width: 100%;
  height: 100%;
}
.userWrapper{
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  width: 980px;
  background-color: #94bddb;
}
.rightMain{
  padding: 22px 20px;
  box-sizing: border-box;
  width: 820px;
  height: auto;
  background-color: #fff;
  box-shadow:0 1px 2px 0 #629ec8;
  border-radius:2px;
}