{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
    },
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "semi": 2,
        "semi-spacing": ["error", {"before": false, "after": true}],
        "no-multi-spaces": 2,
        "no-trailing-spaces": 2,
        "space-in-parens": 2,
        "keyword-spacing": 2,
        "max-len": 2,
        "quotes": ["error", "single"],
        "no-multiple-empty-lines": 2,
        "camelcase": "error",
        "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before"}} ],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "dot-location": ["error", "object"],
        "key-spacing": ["error", { "afterColon": true, "mode": "strict" }],
        "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
        "arrow-body-style": ["error", "always"],
        "space-before-function-paren": ["error", {"anonymous": "never", "named": "never"}],
        "arrow-spacing": ["error", { "before": true, "after": true } ],
        "space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }]
    },
    "plugins": [
        "react"
    ]
}