.navList {
  display: flex;
  align-items: center;
  width: 150px;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
}

.navIcon {
  display: inline-block;
  margin-left: 16px;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}