.userListTitleBox{
  font-family: "PingFangSC-Regular";
  width: 790px;
  heigth: 38px;
  color: #fff;
  font-size: 14px;
  background: #9eb4c2;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  .infoTitle{
    width: 85px;
    height: 38px;
    text-align: center;
  }
  .btnTitle{
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
}
