.actionbtns{
  width: 150px;
  height: 51px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .btn{
    width: 41px;
    height: 14px;
    cursor: pointer;
    .icon{
      width: 12px;
      height: 14px;
      line-height: 18px;
      margin-right: 5px;
      display: inline-block;
      overflow: hidden;
    }
    .name{
      width: 24px;
      height: 14px;
      font-size: 12px;
      line-height: 14px;
      color: #14ae43;
    }
    .del{
      color: #d63221;
    }
  }
  .toggleClass{
    display: none;
  }
}
